//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.01
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Sun 04 13 21:27:45 2025

IO_LOC "led_pads[5]" 20;
IO_PORT "led_pads[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_pads[4]" 19;
IO_PORT "led_pads[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_pads[3]" 18;
IO_PORT "led_pads[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_pads[2]" 17;
IO_PORT "led_pads[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_pads[1]" 16;
IO_PORT "led_pads[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_pads[0]" 15;
IO_PORT "led_pads[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdio_clk_pad" 83;
IO_PORT "sdio_clk_pad" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdio_cmd_pad" 82;
IO_PORT "sdio_cmd_pad" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdio_data_pads[3]" 81;
IO_PORT "sdio_data_pads[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdio_data_pads[2]" 80;
IO_PORT "sdio_data_pads[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdio_data_pads[1]" 85;
IO_PORT "sdio_data_pads[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sdio_data_pads[0]" 84;
IO_PORT "sdio_data_pads[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "reset_pad" 88;
IO_PORT "reset_pad" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clock_27_pad" 4;
IO_PORT "clock_27_pad" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clock_27_alt_pad" 10;
IO_PORT "clock_27_alt_pad" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
